In [8]:
import os
import pandas as pd
import glob

In [9]:
os.getcwd()

'/repo/projects/timeseries-generation/etc'

In [10]:
# data_path = '/repo/projects/HAI_timeseries/Hamon_dataset/*.csv'
data_path = '../data/*.csv'

In [11]:
file_list = glob.glob(data_path)
file_list.sort()
file_list

['../data/20210620.csv',
 '../data/20210621.csv',
 '../data/20210622.csv',
 '../data/20210623.csv',
 '../data/20210624.csv',
 '../data/20210625.csv',
 '../data/20210626.csv']

In [12]:
# 전체 데이터
df_total = pd.DataFrame()

for i in file_list:
    data = pd.read_csv(i)
    df_total = pd.concat([df_total, data])

df_total = df_total.reset_index(drop = True)

In [13]:
df_total.head(5)

,YYYYMMDD,HHMMSS,MNG_NO,IF_IDX,AVG_INBPS,MIN_INBPS,MAX_INBPS,AVG_OUTBPS,MIN_OUTBPS,MAX_OUTBPS,...,MAX_INMCASTPPS,AVG_OUTMCASTPPS,MIN_OUTMCASTPPS,MAX_OUTMCASTPPS,AVG_INBCASTPPS,MIN_INBCASTPPS,MAX_INBCASTPPS,AVG_OUTBCASTPPS,MIN_OUTBCASTPPS,MAX_OUTBCASTPPS
0,20210620,0,2722,124,184312,184312,184312,4481328,4481328,4481328,...,0,0,0,0,0,0,0,0,0,0
1,20210620,500,2722,124,383488,383488,383488,14106256,14106256,14106256,...,0,0,0,0,0,0,0,0,0,0
2,20210620,1000,2722,124,235192,235192,235192,7243880,7243880,7243880,...,0,0,0,0,0,0,0,0,0,0
3,20210620,1500,2722,124,200032,200032,200032,7398568,7398568,7398568,...,0,0,0,0,0,0,0,0,0,0
4,20210620,2000,2722,124,211264,211264,211264,5399520,5399520,5399520,...,0,0,0,0,0,0,0,0,0,0

In [14]:
cols_to_remove = ['YYYYMMDD', 'HHMMSS']

In [15]:
df_total.drop(cols_to_remove,axis=1).head(5)

,MNG_NO,IF_IDX,AVG_INBPS,MIN_INBPS,MAX_INBPS,AVG_OUTBPS,MIN_OUTBPS,MAX_OUTBPS,AVG_INPPS,MIN_INPPS,...,MAX_INMCASTPPS,AVG_OUTMCASTPPS,MIN_OUTMCASTPPS,MAX_OUTMCASTPPS,AVG_INBCASTPPS,MIN_INBCASTPPS,MAX_INBCASTPPS,AVG_OUTBCASTPPS,MIN_OUTBCASTPPS,MAX_OUTBCASTPPS
0,2722,124,184312,184312,184312,4481328,4481328,4481328,329,329,...,0,0,0,0,0,0,0,0,0,0
1,2722,124,383488,383488,383488,14106256,14106256,14106256,546,546,...,0,0,0,0,0,0,0,0,0,0
2,2722,124,235192,235192,235192,7243880,7243880,7243880,424,424,...,0,0,0,0,0,0,0,0,0,0
3,2722,124,200032,200032,200032,7398568,7398568,7398568,371,371,...,0,0,0,0,0,0,0,0,0,0
4,2722,124,211264,211264,211264,5399520,5399520,5399520,388,388,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df_total.head(5)

,YYYYMMDD,HHMMSS,MNG_NO,IF_IDX,AVG_INBPS,MIN_INBPS,MAX_INBPS,AVG_OUTBPS,MIN_OUTBPS,MAX_OUTBPS,...,MAX_INMCASTPPS,AVG_OUTMCASTPPS,MIN_OUTMCASTPPS,MAX_OUTMCASTPPS,AVG_INBCASTPPS,MIN_INBCASTPPS,MAX_INBCASTPPS,AVG_OUTBCASTPPS,MIN_OUTBCASTPPS,MAX_OUTBCASTPPS
0,20210620,0,2722,124,184312,184312,184312,4481328,4481328,4481328,...,0,0,0,0,0,0,0,0,0,0
1,20210620,500,2722,124,383488,383488,383488,14106256,14106256,14106256,...,0,0,0,0,0,0,0,0,0,0
2,20210620,1000,2722,124,235192,235192,235192,7243880,7243880,7243880,...,0,0,0,0,0,0,0,0,0,0
3,20210620,1500,2722,124,200032,200032,200032,7398568,7398568,7398568,...,0,0,0,0,0,0,0,0,0,0
4,20210620,2000,2722,124,211264,211264,211264,5399520,5399520,5399520,...,0,0,0,0,0,0,0,0,0,0

In [63]:
df_total.tail(5)

,YYYYMMDD,HHMMSS,MNG_NO,IF_IDX,AVG_INBPS,MIN_INBPS,MAX_INBPS,AVG_OUTBPS,MIN_OUTBPS,MAX_OUTBPS,...,MAX_INMCASTPPS,AVG_OUTMCASTPPS,MIN_OUTMCASTPPS,MAX_OUTMCASTPPS,AVG_INBCASTPPS,MIN_INBCASTPPS,MAX_INBCASTPPS,AVG_OUTBCASTPPS,MIN_OUTBCASTPPS,MAX_OUTBCASTPPS
3187503,20210626,235500,26356,2,16856,16856,16856,31472,31472,31472,...,0,0,0,0,0,0,0,0,0,0
3187504,20210626,235500,26357,2,15568,15568,15568,42920,42920,42920,...,0,0,0,0,0,0,0,0,0,0
3187505,20210626,235500,26358,2,7218320,7218320,7218320,103256,103256,103256,...,0,0,0,0,0,0,0,0,0,0
3187506,20210626,235500,26359,2,29856,29856,29856,39304,39304,39304,...,0,0,0,0,0,0,0,0,0,0
3187507,20210626,235500,26360,2,16168,16168,16168,41160,41160,41160,...,0,0,0,0,0,0,0,0,0,0

In [65]:
df_total['MNG_NO'].value_counts()

22745    25187
10784    13790
10751    13762
20633    13755
20542    13748
         ...
14892      612
2869       533
26240      533
15259      455
26083      237
Name: MNG_NO, Length: 10686, dtype: int64